<?xml version='1.0' encoding='utf-8'?>
<widget id="io.highrisespaceproject.aichat" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AiChat</name>
    <description>Highrise Space Project AiChat App</description>
    <author email="highrisespaceproject@gmail.com" href="https://highrisespaceproject.42web.io">
        Highrise Space Project Dev Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
